@charset "utf-8";
/* CSS Document © Copyright 2011, All rights reserved
   This sheet loads FancyUpload2 styles */
/**********************************************************************************************/
@import url("hwd.css");
/* AJAX loader */
.ajax-loading {
        background:transparent url(../images/ajax-loader.gif) center center no-repeat;
        width:16px;
        height:11px;
}
/* Directory import iframe */
#folderframe { 
	border:0;
        margin-left:20px;
}
/* Thumbnail wrapper for floats */
.pull-right.thumb-wrapper {
        margin-bottom:0;
        margin-left:5px;
        margin-right:0;
        margin-top:0;
}
.pull-left.thumb-wrapper {
        margin-bottom:0;
        margin-left:0;
        margin-right:5px;
        margin-top:0;
}
/* Avatar */
.media-avatar-50 {
        width:50px;
        height:50px;    
}