@charset "utf-8";
/* CSS Document © Copyright 2011, All rights reserved
   This sheet loads a lite set of styles for HWD related modules and plugins */
/**********************************************************************************************/
/* Details Specific Styles */
.hwd-container .media-details-view {
	margin:10px 0;
}
.hwd-container .media-details-view .item {
	position:relative;
}
.hwd-container .media-details-view .media-item {
	position:relative;
	margin:10px 0;
}
.hwd-container .media-details-view .media-item-format-1-0, .hwd-container .media-details-view .media-item-format-1-1, .hwd-container .media-details-view .media-item-format-1-2, .hwd-container .media-details-view .media-item-format-1-3, .hwd-container .media-details-view .media-item-format-1-4, .hwd-container .media-details-view .media-item-format-2, .hwd-container .media-details-view .media-item-format-3, .hwd-container .media-details-view .media-item-format-4, .hwd-container .media-details-view .media-item-format-5, .hwd-container .media-details-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
.hwd-container .media-details-view h1.contentheading,
.hwd-container .media-details-view h2.contentheading,
.hwd-container .media-details-view h3.contentheading,
.hwd-container .media-details-view h4.contentheading,
.hwd-container .media-details-view h5.contentheading,
.hwd-container .media-details-view h6.contentheading {
	font-size:16px;
	line-height:22px;
	font-weight:700;
        margin:5px 0;
        padding:0;        
}
/**********************************************************************************************/
/* Listing meta data */
.hwd-container dl.media-info {
        padding:0;
        margin:0;
	font-size:13px;
	line-height:20px;
	font-weight:400;        
}
.hwd-container dl.media-info dd {
        display:block;
        margin:0;
        padding:2px 0;
}
.hwd-container dl.media-info dt.media-info-term {
        display:none;
}
.hwd-container dl.media-info dd.media-info-likes { 
        float:right;
}
.hwd-container dl.media-info .media-info-created { 
        color:#999;
}
/**********************************************************************************************/
/* Media duration */
.hwd-container .media-duration {
	position:absolute;
	left:2px;
	bottom:2px;
	color:#fff;
	font-size:10px;
	padding:1px 2px;
        background-color:rgba(0, 0, 0, 0.6);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
        box-shadow:0 0 1px #DDDDDD;        
        line-height:12px;        
}
/**********************************************************************************************/
/* Details Page */
.hwd-container .media-item-container {
	margin:0;
}
.hwd-container .media-item-container .media-item-full {
	text-align:center;
	width:100%;
}
/**********************************************************************************************/
/* Responsive media display: controls the aspect and responsiveness of the players */
.hwd-container .media-respond {
        overflow:hidden;
        position:relative;
        margin:0 auto;
}
.hwd-container .media-respond div.media-content {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        z-index:2;
        clear:both;
}
.hwd-container .media-respond .media-aspect {
        background:#000;
        z-index:1;
}
.hwd-container .media-respond .media-aspect[data-aspect='0.75'] {
        padding-top:75%; /* 4:3 aspect ratio */
}
.hwd-container .media-respond .media-aspect[data-aspect='0.5625'] {
        padding-top:56%; /* 16:9 aspect ratio */
}
/**********************************************************************************************/
/* Thumbnail overlay controls */
.hwd-container .media-thumbnail-overlay
{
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
        background-color:rgba(0, 0, 0, 0.6);
        z-index:3;
        width:100%;
        font-weight: 600;
        font-size: 90%;
}
.hwd-container .media-thumbnail-overlay .pad {
	padding:5px;
}
/**********************************************************************************************/
/* Mediaitem layouts */
.hwd-container .media-details-view.media-documentation {
	margin:50px 0;
}

.hwd-container .media-details-view.media-blog h3.contentheading {
	margin:20px 0;
}
