@charset "utf-8";
/* CSS Document © Copyright 2011, All rights reserved
   This sheet loads a set of styles for the HWD videos module - thumbnail-grid layout */
/**********************************************************************************************/
/* Details Specific Styles */


.hwd-container .media-details-view.thumbnail-grid .media-item {
	-webkit-box-shadow: 1px 1px 0 0 #dfdfdf;
	box-shadow: 1px 1px 0 0 #dfdfdf;
	-webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
}
.hwd-container .media-details-view.thumbnail-grid .media-item:hover{
	-webkit-box-shadow: 1px 1px 0 0 #cccccc;
	box-shadow: 1px 1px 0 0 #cccccc;
	transform:scale(1.05);
        -ms-transform:scale(1.05); /* IE 9 */
        -moz-transform:scale(1.05); /* Firefox */
        -webkit-transform:scale(1.05); /* Safari and Chrome */
        -o-transform:scale(1.05); /* Opera */       
}
.hwd-container .media-details-view.thumbnail-grid .media-item:hover > img.media-thumb {
    background-color:#000;
    opacity:0.5;        
}


.hwd-container .media-details-view.thumbnail-grid .media-transform{
	overflow:hidden;     
}

.hwd-container .media-details-view.thumbnail-grid .media-video-module-overlay
{
    display: none;
	position:absolute;
        top:50%;
        left:50%;
	color:#fff;
        z-index:3;
        width:80%;
        height:2em;
        text-align: center;
        font-size: 30px;
        line-height:30px;
        color:#fff;
        
        
}
.hwd-container .media-details-view.thumbnail-grid .media-video-module-overlay .pad
{
    position: relative; left: -50%; top: -50%;
    width:100%;height:2em;overflow:hidden;
}

.hwd-container .media-details-view.thumbnail-grid .media-video-module-overlay .pad:hover
{

}

.hwd-container .media-details-view.thumbnail-grid .media-item:hover > div.media-video-module-overlay {
    display: block;
    
} 
