@charset "utf-8";
/* CSS Document © Copyright 2011, All rights reserved
   This sheet loads the HWD styles */
/**********************************************************************************************/
.row.mod_hwd_vimeo_videobox_vertical {
  margin-right:-15px!important;
  margin-left:-15px!important;
}
.mod_hwd_vimeo_videobox_vertical {
    	position:relative;
	margin-bottom:20px;
}
.mod_hwd_vimeo_videobox_vertical .clear {
	clear:both;
}
.mod_hwd_vimeo_videobox_vertical .media-duration {
	position:absolute;
	right:2px;
	top:2px;
	color:#fff;
	font-size:10px;
	padding:1px 2px;
        background-color:rgba(0, 0, 0, 0.6);
        border-radius:3px 3px 3px 3px;
        box-shadow:0 0 1px #DDDDDD; 
        z-index:100;
        line-height:120%;        
}
.mod_hwd_vimeo_videobox_vertical .media-item a {
        line-height:0px; /* Override to keep duration location correct */
}
.mod_hwd_vimeo_videobox_vertical .media-item {
        overflow:hidden;
	position:relative;
}
.mod_hwd_vimeo_videobox_vertical .media-item img.media-thumb {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        z-index:2;
	margin:0;
	padding:0;        
}
.mod_hwd_vimeo_videobox_vertical .media-aspect {
        padding-top:56%; /* You can modify the thumbnail aspect ratio here */
        background:#000;
        z-index:1;
}
.mod_hwd_vimeo_videobox_vertical .media-link-span {
        background:transparent url(../images/overlay-sprite.png) no-repeat scroll 0pt 0pt!important;
        cursor:pointer;
        color:#000000;
        display:block;
        height:35px;
        position:absolute;
        text-align:center;
        text-decoration:none;
        vertical-align:bottom;
        width:56px;
        height:39px; 
        opacity:0.8;
        margin:0;
        top:50%;
        left:50%;
        z-index:2;
}
.mod_hwd_vimeo_videobox_vertical .media-link-span {
        margin-left:-25px;
        margin-top:-20px;
}
.mod_hwd_vimeo_videobox_vertical .media-link-span:hover {
        background:transparent url(../images/overlay-sprite.png) no-repeat scroll 0pt -70px!important;
}
.mod_hwd_vimeo_videobox_vertical div.title {
        margin-bottom:6px;
        margin-left:0;
        margin-right:0;
        margin-top:0;
        padding:0;
        border:0;
        font-size:15px;
        overflow:hidden;        
}
.mod_hwd_vimeo_videobox_vertical .cell {
        margin-bottom:10px;
}
.mod_hwd_vimeo_videobox_vertical .clearfix {
    margin-bottom:10px; /* Space thumbnails in mobile view */
}
/* Pulls */
.mod_hwd_vimeo_videobox_vertical .pull-half-left {
    width:33%;
    margin-right:2%;
    float:left;
    
}
.mod_hwd_vimeo_videobox_vertical .pull-half-right {
    width:64%;
    float:right;
}

