@charset "utf-8";
/* CSS Document © Copyright 2011, All rights reserved
   This sheet loads the HWD styles */
/**********************************************************************************************/
.row.mod_hwd_flickr_photobox_default {
        margin-right:-15px!important;
        margin-left:-15px!important;
}
.mod_hwd_flickr_photobox_default {
    	position:relative;
	margin-bottom:20px;
}
.mod_hwd_flickr_photobox_default .clear {
	clear:both;
}
.mod_hwd_flickr_photobox_default .media-item a {
        line-height:0px; /* Override to keep duration location correct */
}
.mod_hwd_flickr_photobox_default .media-item {
        overflow:hidden;
	position:relative;
}
.mod_hwd_flickr_photobox_default .media-item img.media-thumb {
        width:100%;
        z-index:2;
	margin:0;
	padding:0;        
}
.mod_hwd_flickr_photobox_default .media-link-span {
        background:transparent url(../images/overlay-sprite.png) no-repeat scroll 0pt 0pt!important;
        cursor:pointer;
        color:#000000;
        display:block;
        height:35px;
        position:absolute;
        text-align:center;
        text-decoration:none;
        vertical-align:bottom;
        width:56px;
        height:39px; 
        opacity:0.8;
        margin:0;
        top:50%;
        left:50%;
        z-index:2;
        margin-left: none; /* Prevent .row-fluid [class*="span"] */  
}
.mod_hwd_flickr_photobox_default .media-link-span {
        margin-left:-25px;
        margin-top:-20px;
}
.mod_hwd_flickr_photobox_default .media-link-span:hover {
        background:transparent url(../images/overlay-sprite.png) no-repeat scroll 0pt -70px!important;
}
.mod_hwd_flickr_photobox_default div.title {
        margin-bottom:6px;
        margin-left:0;
        margin-right:0;
        margin-top:6px;
        padding:0;
        border:0;
        font-size:15px;
        overflow:hidden;
}
.mod_hwd_flickr_photobox_default .cell {
        margin-bottom:10px;
}
